.bg_generated {
    position:absolute;
    left:0;
    opacity: 0;
    width: 100%;
    max-width: 1920px;
    height: 716px;
    background-size: cover;
    background-position: center center;
    background-image:repeat;
    background-color: #333;
   animation: example 36s linear infinite 0s; 
    
  }
 
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
      0%   {opacity:1;}
      8%  {opacity:1;}
      17%  {opacity:0;}
      25%  {opacity:0;}
      100% {opacity:1;}
  }
  
  /* Standard syntax */
  @keyframes example {
      0%   {opacity:0;animation-timing-function:ease-in;}
      8%  {opacity:1;animation-timing-function:ease-out;}
      17%  {opacity:1;}
      25%  {opacity:0;}
      100% {opacity:0;}
  }
  
  #bg_generated_id0 {
      animation: example 36s linear infinite 0s;
  }
  #bg_generated_id1 {
      animation: example 36s linear infinite 0s;
    animation-delay: 6s; 
  }
  #bg_generated_id2 {
        animation: example 36s linear infinite 0s;
  animation-delay: 12s; 
  }
  #bg_generated_id3{
        animation: example 36s linear infinite 0s;
  animation-delay: 18s; 
  }
  #bg_generated_id4{
       animation: example 36s linear infinite 0s;
      animation-delay: 24s; 
  
  }
  #bg_generated_id5{
        animation: example 36s linear infinite 0s;
  animation-delay: 30s; 
  }